<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Predição de Doença Pulmonar</title>
</head>
<body>
    <h1>Predição: {{ prediction }}</h1>
    {% if image_path %}
        <img src="{{ url_for('static', filename=image_path) }}" alt="Uploaded Image">
    {% endif %}
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>
</body>
</html>
