<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>

    <main class="main">
        <label for="keras">Keras</label>
        <form action="/keras" enctype="multipart/form-data" method="post" id="keras">
            <input type="file" name="imagem" id="imagem">
            <button type="submit">Enviar</button>
        </form>


    
    
</body>
</html>